/docker-compose.override.yml
/.docker/.ca-certificates
/.docker/*/Dockerfile
/.init/
/.bash_enter.env
/.bin/jq
/logs/*
/*.sql
/.env

*.pyc
__pycache__/
.coverage
.pytest_cache/
.eggs/
*.egg-info/
build/
#dist/

*_precedent.txt
/dist/*

# sauvegarde de l'ancienne version du script de dédoublonage
traiteDoublonCohorte.pl.sav
# config de l'évolution du script de dédoublonage
config.pl
# Fichier de log
*.log

timestamps.txt
