/docker-compose.override.yml
/.docker/.ca-certificates
/.docker/*/Dockerfile
/.init/
/.bash_enter.env
/.bin/jq
/logs/*
/*.sql
/.env

*.pyc
__pycache__/
.coverage
.pytest_cache/
.eggs/
*.egg-info/
build/
dist/

*_precedent.txt
timestamps.txt
