[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
mysql-connector-python = "*"
python-ldap = {file = "https://download.lfd.uci.edu/pythonlibs/r5uhg2lo/python_ldap-3.1.0-cp37-cp37m-win_amd64.whl"}

[requires]
python_version = "3.7"
