[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
coverage = "*"
sqlparse = "*"
cachetools = "*"

[packages]
mysql-connector-python = "*"
python-ldap-win32 = {name = "python-ldap",version = "*",sys_platform = "== 'win32'",file = "https://download.lfd.uci.edu/pythonlibs/r5uhg2lo/python_ldap-3.1.0-cp35-cp35m-win_amd64.whl"}
python-ldap = {version = "*",sys_platform = "!= 'win32'"}
ruamel-yaml = "*"

[requires]
python_version = "3.5"
